body{
    background-color: rgb(191, 216, 231);
}
.home{
    background-color: rgb(182, 221, 182);
}
a {
    border-style: hidden;
    border-spacing: 2px;
    flood-opacity: 2%;
    font: optional;
    font-size: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    align-content: center;
    align-self: flex-start;
    text-decoration: underline;

}
a:hover {
    text-decoration: none;
    color: crimson;
  }
  h1{
      border-spacing: 2px;
      top: 1.5px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 2pc;
      font-weight: lighter;
      font-style: oblique;
      text-align: center;
      text-decoration: white;
      align-content: space-between;
      align-items: center;
      color: white;
      background-color: green;
      padding-top: 10px;
      padding-bottom: 20px;
  }
  .logo{  
     position: center;
     border-style: hidden;
     border-color: lightgreen;
  }
  #logo{
     width: 150px;
      position: fixed;
      position: center;
  }
  a{

    font-size: 1.5pc;
    margin-top : 9px;
    margin-left: 5cm;
    padding-left: 50px;
    padding-bottom: 30px;    
    color:black;
  }
  .nextline{
      padding-top: 2pc;
      margin-left: 4cm;
      padding-left: 50px;
      position: center;
  }
  .navigation{
    padding-top:10px;
    padding-bottom: 10px;
   background-color: greenyellow;
   opacity: 80%;
   float:center;
}
React.Component{
    background-color: lightskyblue;
}




* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}